 {% extends 'blog/base.html' %}
 {% block content %}

     <div class="jumbotron">
     <h1>Login </h1>
     <h3>Must be a superuser, go to admin site</h3>
         {%  if form.errors %}
         <p style="color: red">Your username or password is incorrect</p>
         <form action="" method="POST">
             {% csrf_token %}
             {% form.as_p %}
             <input type="submit" class="btn btn-primary" value="Login">
             <input type="hidden" name="next" value="{{ next }}">
         </form>
     </div>
 {% endblock %}